/* Dalllin Glade Sec 201 12/11/25 */
body {
            font-family: Arial, sans-serif;
            font-size: 15px;
            color: #000000;
            background-color:aliceblue ;
        }
        li {
            font-size: 14px;
            font-style: italic;
        }
        ul {
            font-size: larger;
            font-style: sans-serif;
        }
        a { 
            text-decoration: none;
            color: rgb(0, 109, 205);
        }
        a:hover {
            text-decoration: underline;
            color: blue;
            font-weight: bold;
            
        }
     
      
        .resumelistheading {
            font-weight: bold;
            font-style: normal;
        }

        .homebg {
            background-image: url('../Images/abstract-blur-pastel-beautiful-peach-pink-color-sky-warm-tone-background-design-as-bannerslide-show-others_1258-100366.avif');
            background-position: top right;
            background-repeat: no-repeat;
            background-size: cover;
        }
        